{% extends 'base.html' %}
{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <small class="text-muted">{{ object.meal_plan }}</small>
        {% if object.trainer == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.description }}</p>
    </div>
  </article>
  <button type="button" class="btn btn-outline-secondary"><a href="{% url 'food-create' object.pk %}">Add Food to Meal</a></button>
    <br /><br />
    {% for food in foods %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ food.image }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#"> </a>
            <small class="text-muted"></small>
          </div>
          <h2><a class="article-title" href="{% url 'food-detail' food.id %}">{{ food.title  }}</a></h2>
          <p class="article-content">{{ food.description }}</p>
          <div class="article-metadata">
            <medium class="text-muted">Protein: {{ food.protein }}</medium>
            <medium class="text-muted">Carbs: {{ food.carbs }}</medium>
            <medium class="text-muted">Fat: {{ food.fat }}</medium>
            <medium class="text-muted">Calories: {{ food.calories }}</medium>
          </div> 
        </div>
      </article>

{% endfor %}
{% endblock content %}
