{% extends 'base.html' %}
{% block content %}
    <h1>List of Meal Plans</h1>
    <button type="button" class="btn btn-outline-secondary"><a href="{% url 'meal-plan-create' %}">Add New</a></button>
    <br /><br />
    {% for plan in plans %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#"> {{ plan.diet_type }}</a>
                <small class="text-muted">{{ plan.meal_type }}</small>
              </div>
              <h2><a class="article-title" href="{% url 'meal-plan' plan.id %}">{{ plan.title  }}</a></h2>
              <p class="article-content">{{ plan.description }}</p>
            </div>
          </article>

    {% endfor%}
{% endblock content %}
