{% extends 'base.html' %}
{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.trainer }}</a>
        <small class="text-muted">Date</small>
        {% if object.trainer == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.title }} {{ user.first_name }}</h2>
      <p class="article-content">{{ object.description }}</p>
    </div>
    <button type="button" class="btn btn-outline-secondary"><a href="{% url 'meal-create' %}">Add Meals to Plan</a></button>
    <br /><br />
  </article>
{% endblock content %}
