{% extends 'base.html' %}
{% block content %}
<button type="button" class="btn btn-outline-secondary"><a href="{% url 'create-meal' object.pk object.meal_plan.id %}">Add Meal</a></button>
    <br /><br />
    {% for meal in meals %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#"> </a>
          <small class="text-muted"></small>
        </div>
        <h2><a class="article-title" href="{% url 'meal' meal.id %}">{{ meal.title }}</a></h2>
        <p class="article-content">{{ meal.description }}</p>
      </div>
    </article>
    {% endfor %}
{% endblock content %}